*/__pycache__/*
src/__pycache__/*
src/foundryModule/__pycache__/*
src/foundryModule/out/*
*/cache/*
*/.idea/*
*/.vscode/*
*/.git/*
*/.gitignore
*/.gitattributes
*/.gitmodules
*/.gitkeep
*/.gitlab-ci.yml
*/.git
.DS_Store